<h1>Welcome to Good Burger, Home of the Good Burger, May I Take Your Order?!</h1>

<h2>Whataya Have?!</h2>

<ul class = "red">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Nom nom that burger!</h2>

<ul class = "red">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group red">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group red">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Waste of a good burger...SMH
  </div>

  <button type="submit">Add a Burger</button>
</form>