<li>
    {{burger_name}}
    <button type="button " class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}<p>Devour me!</p>{{else}}Poop loading...{{/if}}
    </button>
</li>
